<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/taskbar.css}">
</head>

<body>
<nav th:fragment="navbar" class="navbar">
    <div class="logo">PC Parts Shop</div>
    <ul class="nav-links">
        <li><a th:href="@{/SEDO}">Home</a></li>
        <li><a th:href="@{/categories}">Categories</a></li>
        <li><a th:href="@{/pc-builder}">PC Builder</a></li>
        <li><a th:href="@{/cart}">Cart</a></li>
        <li th:if="${session.user == null}">
            <a th:href="@{/login}" class="btn">Login</a>
        </li>
        <li th:if="${session.user != null}" class="user-profile">
            <a th:href="@{/profile}" class="profile-link">
                <div class="user-avatar">
                    <img th:if="${session.user.profileImage}"
                         th:src="@{${session.user.profileImage}}"
                         alt="Profile"
                         class="profile-img">
                    <span th:unless="${session.user.profileImage}"
                          th:text="${#strings.substring(session.user.fullName,0,1)}"></span>
                </div>
                <span class="user-name" th:text="${session.user.fullName}"></span>
            </a>
            <div class="dropdown-content">
                <a th:href="@{/profile}">My Profile</a>
                <a th:href="@{/orders}">My Orders</a>
                <form th:action="@{/logout}" method="post">
                    <button type="submit">Logout</button>
                </form>
            </div>
        </li>
    </ul>
</nav>
</body>
</html>